<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

	<div id="chat">
		<div id="nickname">
			<form id="set-nickname" class="wrap">
				<p>Please type in your nickname and press enter to enter the
					game.</p>
				<input id="nick">
				<p id="nickname-err">Nickname already in use</p>
			</form>
		</div>
		<div id="connecting">
			<div class="wrap">Connecting to pacnode server</div>
		</div>
		<div id="messages">
			<div id="nicknames"></div>
			<div id="lines"></div>
		</div>
		<form id="send-message">
			<input id="message">
			<button>Send</button>
		</form>


		<button id="send-movement">ALERT ALL</button>

	</div>
