<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="/javascripts/node_client_script.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
  </body>
</html>
